.app-content {
    overflow: hidden;
    height: 100%;
}

.relative {
    position: relative;
}

.badge {
    background-color: #f44336; /* Rouge */
    color: white;
    padding: 0.5em;
    border-radius: 1em;
    font-size: 1em;
    position: absolute;
    top: -5px;
    right: -10px;
}